body {
    background-color: gray;
    display: flex;
    border: 8px solid yellow;
    justify-content: space-evenly;
    min-height:  100%;
    align-items:  center;
    color: white;
    margin-bottom: 100ox;
    font-size: 21px;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    flex-wrap: wrap;
}

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth;
}
p {
    color: #FFCC00;
    font-size: 15px;
}

h1,h2 {
    font-size: 70px;
    color: violet;
    text-align: center;
    
}

.about-me_info--container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}

.about-me_img--container{
    width: 100%;
    margin: 0 auto;
}
.about-me_img{
    animation: animate-about-me-img 800ms 200ms backwards;
    height: auto;
    overflow: auto;
    border-radius: 60px;
}

@keyframes animate-about-me-img{
    0% {
        transform: scale(0);
    }
    80%{
        transform: scale(1.6);
    }
    100%{
        transform: scale(1.0);
    }
}
.about-me_picture-mask{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,0.25);
    margin-bottom: 28px;
    animation: animate-pfp 800ms 200ms backwards;
}
@keyframes animate-pfp{
    0% {
        transform: scale(0);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.pic_of_me{
    width: 100%;
    margin: 0;
    transform: translate(0%, -15%);
    
}
span {
    color: yellow;
}

strong {
    color: yellow;
}

.portfolio-section {
    background-image: url(../img/flower.png);
    background-repeat: repeat-x;

}

.project {
    font-size: 12px;
}

